.git
.github
.gitignore
.gitattributes
.editorconfig
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
bootstrap/cache/*.php
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
docs
deploy
Dockerfile
.dockerignore
docker-compose.yml
*.md
!README.md
